.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  position: relative;
}
/* Regular full nav shown on desktop */
.menu-links {
  display: flex;
  gap: 1rem;
}
/* hide the hamburger for bigger screen */
.hamburger {
  display: none; 
}
 