.feature-card {
  background-color: #f3f4f6; 
  /* background-color: rgba(210, 223, 210, 0.517); */
  border: 2px solid #d1d5db;
  border-left: 8px solid #7ba05b76; 
  border-right:8px solid #7ba05b58;  
  border-radius: 12px;
  padding: 1rem 1.5rem;
  margin: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #7BA05B; 
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.743);
  transition: transform 0.2s ease;
}
  
.feature-card:hover {
  transform: scale(1.02);
  background-color: #e0f2fe; 
  cursor: pointer;
}

.get-started-button{
  background-color: #7BA05B;
  border: 2px solid #ccd5ae;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  margin: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #f3f4f6;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.754);
  transition: transform 0.2s ease;
}
   
.get-started-button:hover {
  transform: scale(1.02);
  background-color: rgb(39, 124, 34);
  cursor: pointer;
}

/* New Changes */
.home-page{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:60px;
  padding:60px;
}

.home-left{
  max-width:420px;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(11, 2, 2, 0.8);
}

.home-right{
  padding: 2rem 2.5rem;
  border-radius: 18px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.396);
}

.home-right img{
  width:450px;
  padding: 2rem 2.5rem;
  overflow:hidden;
  border-radius: 18px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.396);
}

@media screen and (max-width: 1366px) {
  .home-page{
    flex-direction:column;
    text-align:center;
    gap: 30px;
    padding: 40px 20px;
  }
  .home-page, .features, .feature-card {
    padding-top: 0rem;
    }
  .home-right img{
    max-width: 320px;
  }
}
@media screen and (max-width: 768px){

  .home-page{
    flex-direction:column;
    text-align:center;
    gap: 20px;
    padding: 30px 16px;
  }
  .home-right{
    padding: 1rem;
  }
  .home-right img{
    width:250px;
  }

}

